<% include header %>

<script type="text/javascript">
$(document).ready(function(){

 $("#maingrid").jqGrid({
    url:"/management/catalogdata/list/",
    datatype: "json",
    colNames:['_id','ChineseName','Name', 'ParentName'],
    colModel:[
      {name:'_id',index:'_id'}, 
      {name:'ChineseName',index:'ChineseName', width:260,jsonmap:"NameLoc.Chinese",editable:true},
      {name:'Name',index:'Name', width:260,editable:true},
      {name:'ParentName',index:'ParentName', width:260,editable:true},
    ],
    jsonReader: {
        repeatitems: false,
        id: "id",
    },
    height: 'auto',
    width:900,
    rowNum:100,
    rowList:[50,100,200],
    pager: '#pmaingrid',
    sortname: 'Name',
    viewrecords: true,
    sortorder: "desc",
    editurl: "/management/catalogdata/update",
    caption: "CombinedData",
    multiselect: true,
    ondblClickRow: function(id) {
        if(id && id!==lastsel){
            var lastrowdata = $("#maingrid").jqGrid('getRowData', (lastsel));
            jQuery('#maingrid').jqGrid('saveRow',lastsel, { 
                extraparam: {"_id" : lastrowdata._id}
            });
            jQuery('#maingrid').jqGrid('restoreRow',lastsel);
            jQuery('#maingrid').jqGrid('editRow',id);
            lastsel=id;
        }
    },

});
 
var lastsel;
$("#maingrid").jqGrid('navGrid',"#pmaingrid",{edit:true,add:true,del:true},
        {ajaxEditOptions: jsonOptions,
        serializeEditData: createJSON,
        closeAfterEdit: true},
        {},
        {ajaxDelOptions: jsonOptions,
        serializeDelData: delJSON,
        closeAfterDel: true});

var jsonOptions = {
    type :"POST",
    contentType :"application/json; charset=utf-8",
    dataType :"json"
};

function createJSON(postdata) {
alert(123);
    var rowdata = $("#maingrid").jqGrid('getRowData', (postdata.id));
    postdata['_id'] = (rowdata._id);
    
    return (postdata);
}

function delJSON(postdata) {
    var ids = (postdata.id.split(','));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }

    postdata['_id'] = strids;
    return (postdata);
}
});
  
</script>
    <table id="maingrid"></table>
    <div id="pmaingrid"></div>
<% include ./footer %>