<% include header %>

<script type="text/javascript">
$(document).ready(function(){

 $("#rowed3").jqGrid({
    url:"/management/combineddata/list/",
    datatype: "json",
    colNames:['ID','Name','Catalog', 'UpdateTime'],
    colModel:[
      {name:'_id',index:'_id', width:20,jsonmap:"_id"},
      {name:'Name',index:'Name', width:260,jsonmap:"NameLoc.0.Chinese",editable:true},
      {name:'Catalog',index:'Catalog', width:190, editable:true,edittype:"select", editoptions : {value:'<%= CatalogOptions %>'},jsonmap:"CatalogNames.0"},
      {name:'UpdateTime',index:'UpdateTime', width:100}
    ],
    jsonReader: {
        repeatitems: false,
        id: "id",
    },
    height: 'auto',
    width:900,
    rowNum:100,
    rowList:[100,200,300],
    pager: '#prowed3',
    sortname: 'Name',
    viewrecords: true,
    sortorder: "desc",
    editurl: "/management/combineddata/update",
    caption: "CombinedData",
    multiselect: true,
    ondblClickRow: function(rowid) {
    jQuery(this).jqGrid('editGridRow', rowid);
    }
});
 
$("#rowed3").jqGrid('navGrid',"#prowed3",{edit:true,add:false,del:false},{
        //edit parameters
        ajaxEditOptions: jsonOptions,
        serializeEditData: createJSON,
        closeAfterEdit: true
});

$("#rowed3").jqGrid('inlineNav',"#prowed3");

var jsonOptions = {
    type :"POST",
    contentType :"application/json; charset=utf-8",
    dataType :"json"
};

function createJSON(postdata) {
    var rowdata = $("#rowed3").jqGrid('getRowData', (postdata.id));
    postdata['_id'] = (rowdata._id);
    return (postdata);
}


});
  
</script>
    <table id="rowed3"></table>
    <div id="prowed3"></div>
<% include ./footer %>