<% include header %>

<script type="text/javascript">
$(document).ready(function(){

 $("#maingrid").jqGrid({
    url:"/management/combineddata/list/",
    datatype: "json",
    colNames:['ID','Name','Catalog', 'UpdateTime','CombinedType', 'Conditions'],
    colModel:[
      {name:'_id',index:'_id', width:20,jsonmap:"_id"},
      {name:'Name',index:'Name', width:260,jsonmap:"NameLoc.Chinese",editable:true},
      {name:'Catalog',index:'Catalog', width:190, editable:true,edittype:"select", editoptions : {value:'<%= CatalogOptions %>'},jsonmap:"CatalogNames.0"},
      {name:'UpdateTime',index:'UpdateTime', width:100},
      {name:'CombinedType',index:'CombinedType', width:100},
      {name:'Conditions',index:'Conditions', width:100,jsonmap:"Conditions.0.IndicatorID"}
    ],
    jsonReader: {
        repeatitems: false,
        id: "id",
    },
    height: 'auto',
    width:900,
    rowNum:100,
    rowList:[100,200,300],
    pager: '#pmaingrid',
    sortname: 'Name',
    viewrecords: true,
    sortorder: "desc",
    editurl: "/management/combineddata/update",
    caption: "CombinedData",
    multiselect: true,
    ondblClickRow: function(rowid) {
        jQuery(this).jqGrid('editGridRow', rowid);
    }
});
 
$("#maingrid").jqGrid('navGrid',"#pmaingrid",{edit:true,add:true,del:true},
        {ajaxEditOptions: jsonOptions,
        serializeEditData: createJSON,
        closeAfterEdit: true},
        {},
        {ajaxDelOptions: jsonOptions,
        serializeDelData: delJSON,
        closeAfterDel: true});

var jsonOptions = {
    type :"POST",
    contentType :"application/json; charset=utf-8",
    dataType :"json"
};

function createJSON(postdata) {
    var rowdata = $("#maingrid").jqGrid('getRowData', (postdata.id));
    postdata['_id'] = (rowdata._id);
    return (postdata);
}
function delJSON(postdata) {
    var ids = (postdata.id.split(','));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }

    postdata['_id'] = strids;
    return (postdata);
}
});
  
</script>
    <table id="maingrid"></table>
    <div id="pmaingrid"></div>
<% include ./footer %>