<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/jquery.mobile-1.3.2.min.css" />
	<script src="/jquery-1.9.1.min.js"></script>
	<script src="/jquery.mobile-1.3.2.js"></script>
	<link rel="stylesheet" href="/d3.css" />
	<script src="/d3.v3.min.js"></script>
	<script src="/db.js"></script>
	<script src="/d3.custom.js"></script>
  </script>
  </head>
  <body>
    <br>
  	<a href="RemoveAllMetaCollections">Remove all Meta_* collections</a><br>
    <a href="management/combineddata">CmonbinedData</a>
    <a href="management/indicatordata">IndicatorData</a>
 </body>
</html>