<% include header %>

<script type="text/javascript">
$(document).ready(function(){

 $("#maingrid").jqGrid({
    url:"/management/indicatordata/list/",
    datatype: "json",
    colNames:['ID','Name','CombinedDataID', 'SrcTargetID'],
    colModel:[
      {name:'_id',index:'_id', width:20,jsonmap:"_id"},
      {name:'Name',index:'Name', width:260,jsonmap:"NameLoc.Chinese",editable:true},
      {name:'CombinedDataID',index:'CombinedDataID', width:190,jsonmap:"CombinedDataID"},
      {name:'SrcTargetID',index:'SrcTargetID', width:190,jsonmap:"SrcTargetID"}
    ],
    jsonReader: {
        repeatitems: false,
        id: "id",
    },
    height: 'auto',
    width:900,
    rowNum:100,
    rowList:[100,200,300],
    pager: '#pmaingrid',
    sortname: 'Name',
    viewrecords: true,
    sortorder: "desc",
    editurl: "/management/indicatordata/update",
    caption: "IndicatorData",
    multiselect: true,
    ondblClickRow: function(rowid) {
    jQuery(this).jqGrid('editGridRow', rowid);
    },
    onSelectRow: function(ids) {
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids));
        jQuery("#subgrid1").jqGrid('setGridParam',{url:"/management/metadata/?indicatorid="+rowdata["_id"],page:1});
                jQuery("#subgrid1").jqGrid('setCaption',"MetaData: "+rowdata["_id"])
                .trigger('reloadGrid');
    }
});

$("#maingrid").jqGrid('navGrid',"#pmaingrid",{edit:true,add:true,del:true},{}, {},{
        //edit parameters
        ajaxDelOptions: jsonOptions,
        serializeDelData: delJSON,
        closeAfterDel: true});

var jsonOptions = {
    type :"POST",
    contentType :"application/json; charset=utf-8",
    dataType :"json"
};

function delJSON(postdata) {
    var ids = (postdata.id.split(','));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }

    postdata['_id'] = strids;
    return (postdata);
}

var list = null;

jQuery("#subgrid1").jqGrid({
    height: 100,
    url:'',
    datatype: "json",
    colNames:['AreaID','Target1ID', 'Target2ID', 'Period','Datas'],
    colModel:[
        {name:'AreaID',index:'AreaID', width:100},
        {name:'Target1ID',index:'Target1ID', width:100},
        {name:'Target2ID',index:'Target2ID', width:100},
        {name:'Period',index:'Period', width:80},
        {name:'Datas',index:'Datas', width:180},
    ],
    height: 'auto',
    rowNum:5,
    rowList:[10,20,30],
    pager: '#psubgrid1',
    sortname: 'item',
    viewrecords: true,
    sortorder: "asc",
    multiselect: false,
    caption:"Metadata Detail1",
     onSelectRow: function(ids) {
        var rowdata = $("#subgrid1").jqGrid('getRowData', (ids));
        $("#subgrid2").jqGrid("clearGridData", true);
         for( i = 0; i < list[ids]["Datas"].length; ++i){
            jQuery("#subgrid2").jqGrid('addRowData',i+1,list[ids]["Datas"][i]);
         }
        jQuery("#subgrid2").trigger('reloadGrid');
    },
    loadComplete: function (data) {
        list = data;
    }
});
$("#subgrid1").jqGrid('navGrid',"#psubgrid1");


jQuery("#subgrid2").jqGrid({
    height: 100,
    url:'',
    datatype: "local",
    colNames:['Date','UpdateDate', 'Value'],
    colModel:[
        {name:'Date',index:'Date', width:100},
        {name:'UpdateDate',index:'UpdateDate', width:200},
        {name:'Value',index:'Value', width:200},
    ],
    height: 'auto',
    rowNum:3,
    rowList:[100,200,300],
    pager: '#psubgrid2',
    sortname: 'item',
    viewrecords: true,
    sortorder: "asc",
    multiselect: false,
    caption:"Metadata Detail2"
});
$("#subgrid2").jqGrid('navGrid',"#psubgrid2");

jQuery("#RefreshCombinedData").click( function() {
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }
    if(strids != '')
        OnRefreshCombinedData(strids);
});

});
function OnRefreshCombinedData(ids){
    $.ajax({
    url: "/management/indicatordata/refreshcombineddata/" + ids,
    type: 'GET',
    success: function(data){
        jQuery("#maingrid").trigger('reloadGrid');
      },
    error: function(xmlHTTPRequest, status, error){
        alert("Error : " + error);
    },
    beforeSend: function(){
    },
    complete: function(){
    }
  });
}
</script>
main grid<br>
<a href="javascript:void(0)" id="RefreshCombinedData" >Refresh/Create default combined data</a> | 
    <table id="maingrid"></table>
    <div id="pmaingrid"></div>
    <br>
    sub grid 1
    <table id="subgrid1"></table>
    <div id="psubgrid1"></div>
    <br>
    sub grid 2
    <table id="subgrid2"></table>
    <div id="psubgrid2"></div>
<% include ./footer %>