<% include header %>

<script type="text/javascript">
$(document).ready(function(){

 $("#maingrid").jqGrid({
    url:"/management/indicatordata/list/",
    datatype: "json",
    colNames:['ID','Name','CombinedDataID', 'SrcTargetName', 'SrcTargetID'],
    colModel:[
      {name:'_id',index:'_id', width:20,jsonmap:"_id"},
      {name:'Name',index:'Name', width:260,jsonmap:"NameLoc.Chinese",editable:true},
      {name:'CombinedDataID',index:'CombinedDataID', width:190,jsonmap:"CombinedDataID"},
      {name:'SrcTargetName',index:'SrcTargetName', width:190,jsonmap:"SrcTargetName"},
      {name:'SrcTargetID',index:'SrcTargetID', width:260,jsonmap:"SrcTargetID",editable:true},
    ],
    jsonReader: {
        repeatitems: false,
        id: "id",
    },
    height: 'auto',
    width:900,
    rowNum:100,
    rowList:[100,200,300],
    pager: '#pmaingrid',
    sortname: 'Name',
    viewrecords: true,
    sortorder: "desc",
    editurl: "/management/indicatordata/update",
    caption: "IndicatorData",
    multiselect: true,
    onSelectRow: function(ids) {
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids));
        jQuery("#subgrid1").jqGrid('setGridParam',{url:"/management/metadata/list/?indicatorid="+rowdata["_id"],page:1});
        jQuery("#subgrid1").jqGrid('setCaption', rowdata["_id"])
            .trigger('reloadGrid');
    }
});

$("#maingrid").jqGrid('navGrid',"#pmaingrid",{edit:true,add:true,del:true},
        {ajaxEditOptions: jsonOptions,
        serializeEditData: createJSON,
        closeAfterEdit: true}, {},{
        ajaxDelOptions: jsonOptions,
        serializeDelData: delJSON,
        closeAfterDel: true});

var jsonOptions = {
    type :"POST",
    contentType :"application/json; charset=utf-8",
    dataType :"json"
};

function createJSON(postdata) {
    var rowdata = $("#maingrid").jqGrid('getRowData', (postdata.id));
    postdata['_id'] = (rowdata._id);
    
    return (postdata);
}

function delJSON(postdata) {
    var ids = (postdata.id.split(','));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }

    postdata['_id'] = strids;
    return (postdata);
}

var list = null;
var sid = 0;

jQuery("#subgrid1").jqGrid({
    height: 100,
    url:'',
    datatype: "json",
    colNames:['_id','AreaID','Target1ID', 'Target2ID', 'Period','Datas'],
    colModel:[
        {name:'_id',index:'_id', width:80},
        {name:'AreaID',index:'AreaID', width:100, jsonmap:"AreaNameLoc", edittype:"select", editable:true,
        editoptions : {value:'<%= AreaOptions %>'}},
        {name:'Target1',index:'Target1', width:100,jsonmap:"Target1NameLoc", edittype:"select", editable:true,
        editoptions : {value:'<%= TargetOptions %>'}},
        {name:'Target2',index:'Target2', width:100,jsonmap:"Target2NameLoc", edittype:"select", editable:true,
        editoptions : {value:'<%= TargetOptions %>'},},
        {name:'Period',index:'Period', width:80, editable:true,edittype:"select", editoptions:{value:"year:year;season:season;month:month;day:day;none:none"}},
        {name:'Datas',index:'Datas', width:180,jsonmap:"Datas.length"},
    ],
    height: 'auto',
    rowList:[30,50,100],
    pager: '#psubgrid1',
    sortname: 'item',
    viewrecords: true,
    sortorder: "asc",
    multiselect: false,
    caption:"Metadata Detail1",
    editurl: "/management/metadata/update",
    onSelectRow: function(id) {
        sid = id;
        $("#subgrid2").jqGrid("clearGridData", true);
        if(list.rows[id-1].Datas != undefined){
             for( i = 0; i < list.rows[id-1]["Datas"].length; ++i){
                jQuery("#subgrid2").jqGrid('addRowData',i+1,list.rows[id-1]["Datas"][i]);
             }
        }
        jQuery("#subgrid2").trigger('reloadGrid');
        jQuery("#area_name").text(list.rows[id-1].AreaNameLoc);
    },
    loadComplete: function (data) {
        list = data;
    }
});
$("#subgrid1").jqGrid('navGrid',"#psubgrid1",{edit:true,add:true,del:true},
        {}, {
        ajaxAddOptions: jsonOptions,
        serializeEditData: addJSON,
        closeAfterAdd: true
        },{
        serializeDelData: delSubgrid1JSON,
        closeAfterDel: true});

function addJSON(postdata) {
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    if(ids.length == 1)
    {
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[0]));
        postdata['indicatorid'] = rowdata._id;
    } 
    return (postdata);
}
function delSubgrid1JSON(postdata) {
    var ids = (postdata.id.split(','));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#subgrid1").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }
    postdata['_id'] = strids;
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    if(ids.length == 1)
    {
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[0]));
        postdata['indicatorid'] = rowdata._id;
    }    
    return (postdata);
}

jQuery("#subgrid2").jqGrid({
    height: 100,
    url:'',
    datatype: "local",
    colNames:['_id','Date','UpdateDate', 'Value'],
    colModel:[
        {name:'_id',index:'_id', width:80},
        {name:'Date',index:'Date', width:100,editable:true},
        {name:'UpdateDate',index:'UpdateDate', width:200,editable:true},
        {name:'Value',index:'Value', width:200,editable:true},
    ],
    editurl: "/management/metadata/values/update",
    height: 'auto',
    rowList:[30,50,100],
    pager: '#psubgrid2',
    sortname: 'item',
    viewrecords: true,
    sortorder: "asc",
    multiselect: false,
    caption:"Metadata Detail2",
});
$("#subgrid2").jqGrid('navGrid',"#psubgrid2",{edit:true,add:true,del:true},
        {serializeEditData: addSubgrid2JSON}, {
        ajaxAddOptions: jsonOptions,
        serializeEditData: addSubgrid2JSON,
        closeAfterAdd: true
        },{
        serializeDelData: delSubgrid2JSON,
        closeAfterDel: true});

function addSubgrid2JSON(postdata) {
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    if(ids.length == 1)
    {
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[0]));
        postdata['indicatorid'] = rowdata._id;
    }
    postdata['_id'] = list.rows[sid-1]['_id'];
    return (postdata);
}
function delSubgrid2JSON(postdata) {
    var ids = (postdata.id.split(','));
    var dates = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#subgrid2").jqGrid('getRowData', (ids[i]));
        dates += (rowdata.Date) + ',';
    }
    postdata['Dates'] = dates;
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    if(ids.length == 1)
    {
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[0]));
        postdata['indicatorid'] = rowdata._id;
    } 
    postdata['_id'] = list.rows[sid-1]['_id'];
    return (postdata);
}

jQuery("#RefreshCombinedData").click( function() {
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }
    if(strids != '')
        OnRefreshCombinedData(strids);
});

jQuery("#ImportToCSV").click( function() {
    var ids = (jQuery("#maingrid").jqGrid('getGridParam','selarrrow'));
    var strids = '';
    for(var i = 0; i < ids.length; ++i){
        var rowdata = $("#maingrid").jqGrid('getRowData', (ids[i]));
        strids += (rowdata._id) + ',';
    }
    if(strids != '')
        OnImportToCSV(strids);
});

});
function OnRefreshCombinedData(ids){
    $.ajax({
    url: "/management/indicatordata/refreshcombineddata/" + ids,
    type: 'GET',
    success: function(data){
        jQuery("#maingrid").trigger('reloadGrid');
      },
    error: function(xmlHTTPRequest, status, error){
        alert("Error : " + error);
    },
    beforeSend: function(){
    },
    complete: function(){
    }
  });
}

function OnImportToCSV(ids){
    $.ajax({
    url: "/management/indicatordata/exporttocsv/" + ids,
    type: 'GET',
    success: function(data){
        jQuery("#maingrid").trigger('reloadGrid');
      },
    error: function(xmlHTTPRequest, status, error){
        alert("Error : " + error);
    },
    beforeSend: function(){
    },
    complete: function(){
    }
  });
}

</script>
indicator data<br>
<a href="javascript:void(0)" id="RefreshCombinedData" >Refresh/Create default combined data</a> | <a href="javascript:void(0)" id="ImportToCSV" >Export To CSV</a> | 
    <table id="maingrid"></table>
    <div id="pmaingrid"></div>
    <br>
    <table><tr><td>MetaData
    <table id="subgrid1"></table>
    <div id="psubgrid1"></div>
    </td><td>
     MetaData - Datas | Area <span id="area_name" ></span>
    <table id="subgrid2"></table>
    <div id="psubgrid2"></div>
    </td></tr></table>
    
   
<% include ./footer %>